@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    box-shadow: 0 0 0 1000px rgb(17,20,28) inset !important;
    -webkit-box-shadow: 0 0 0 1000px rgb(17,20,28) inset !important;
    -webkit-text-fill-color: white !important;
}

label {
    touch-action: none;
}